@tailwind base;
@tailwind components;
@tailwind utilities;
.input {
  @apply w-full bg-lime-900/10 border border-lime-300 rounded-lg 
  py-2 pl-10 pr-4 text-gray-800 placeholder-gray-500 
  focus:ring-2 focus:ring-lime-400 focus:border-transparent;
}

.auth-input-icon {
  @apply absolute left-3 top-1/3 text-lime-500 size-5;
}

.auth-input-label{
  @apply block text-sm font-medium text-gray-700 mb-2;
}

.auth-btn {
  @apply w-full bg-lime-500 text-white rounded-lg py-2.5 font-medium
  hover:bg-lime-600 focus:ring-2 focus:ring-lime-400;
}

.auth-link {
  @apply px-4 py-2 inline-block bg-lime-500/10 rounded-lg text-lime-600
  hover:text-lime-700 text-sm transition-colors;
}

.auth-badge{
  @apply px-3 py-1 text-xs font-medium rounded-full 
  bg-lime-500/20 text-lime-700;
}
